<div class="forecast">
    <span class="condition symbol">{{symbol}}</span>
    <span class="condition">
        <span class="forecast-data">{{town}}</span>
        <span class="forecast-data">{{gradusi}}</span>
        <span class="forecast-data">{{sunrise}}</span>
    </span>
</div>